---
import Layout from "../layouts/Layout.astro";
import ButtonFillPrimay from "../components/ButtonFillPrimay.astro";
import CardBlogItem from "../components/CardBlogItem.astro";
import Icon from "astro-icon";
---

<Layout title="Loqomind Technology">
	<div class="container flex flex-col gap-y-40 mx-auto px-20">
		<div class="flex items-center gap-x-8 pt-44">
			<!-- Hero Text -->
			<div class="flex flex-col pr-8">
				<h1 class="font-bold text-4xl leading-none">
					<span class="text-orange-500">Your Vision.</span> Our Expertise.
					Extraordinary <span class="text-orange-500">Results.</span>
				</h1>
				<div class="w-100 mt-6 mb-8">
					<p>
						Loqomind Technology is your go-to partner for
						multi-platform app development. Our team of experts
						specializes in creating tailored solutions that drive
						growth, enhance user experiences, and deliver
						exceptional outcomes.
					</p>
				</div>
				<a href="#"><ButtonFillPrimay label="Let's Talk" /></a>
			</div>
			<!-- Hero Image -->
			<img src="/image_hero_1.png" class="w-1/2" />
		</div>
		<!-- <div class="min-h-screen">
			<h1 class="text-orange-500 font-bold text-4xl mb-2">Our Works.</h1>
			<p class="text-gray-800" >We transform ordinary ideas and problems into extraordinary products that exceed expectations.</p>
		</div> -->
		<div class="flex">
			<div class="w-6/12 flex flex-col gap-y-8">
				<h1 class="font-bold text-4xl mb-2">
					<span class="text-orange-500"
						>Collaborative Innovation:</span
					>
					Unleash the Potential of Your Ideas and Existing Digital Products
				</h1>
				<p class="text-gray-800">
					Are you fueled by a new idea ready to be brought to life or
					looking to elevate an existing digital product? Your search
					ends here. Collaborate with our team of versatile experts
					who are dedicated to partnering with you throughout the
					entire product lifecycle. Together, we will unlock the true
					potential of your ideas and craft impactful digital
					experiences that resonate.
				</p>
				<img src="/image_hero_2.png" class="w-full" />
			</div>
			<div class="w-6/12 flex flex-col items-end gap-y-8">
				<div class=" border-solid border-2 border-orange-600 rounded-md p-8 w-2/3">
					<h1 class="text-2xl text-orange-500 font-bold mb-6">
						From Idea to Product
					</h1>
					<p>
						Whether you're a visionary founder, a product owner in a
						thriving enterprise, or anywhere in between, loqomind is
						your trusted partner in solving significant challenges
						through a design-led approach. Our expertise empowers us
						to address your unique needs, uncover valuable insights,
						and deliver innovative solutions that make a meaningful
						impact. Let us guide you on your journey towards
						success.
					</p>
				</div>
				<div class="border-solid border-2 border-orange-600 rounded-md p-8 w-2/3">
					<h1 class="text-2xl text-orange-500 font-bold mb-6">
						Support Your Team
					</h1>
					<p>
						We understand that every project is unique, which is why
						we have carefully curated a small team that is perfectly
						tailored to meet your specific needs. Our experts are
						committed to providing personalized attention and
						delivering high-quality results. With our collaborative
						approach, you can rest assured that your project is in
						capable hands, ensuring a seamless and successful
						development process.
					</p>
				</div>
			</div>
		</div>
		<div class="flex flex-col gap-y-12">
			<div class="flex flex-col gap-y-2 divider divider-y">
				<h1 class="text-orange-500 font-bold text-4xl">Insight.</h1>
				<p class="text-gray-800">
					Fresh, compelling content crafted by our experienced team of
					professionals.
				</p>
			</div>

			<div class="flex flex-col gap-y-16 divider-y divider-orange-500">
				<CardBlogItem />
				<CardBlogItem />
				<CardBlogItem />
			</div>
			<div class="self-end">
				<a href="/blogs" class="flex flex-row text-orange-500 font-semibold items-start">
					Check all our blogs <Icon
						name="mi:arrow-right"
						class="h-6 px-2"
					/>
				</a>
			</div>
		</div>

	</div>
</Layout>
