<div class="flex justify-between gap-12 content-center">
    <div class="w-4/5 flex flex-col gap-y-4">
        <h1 class="text-xl font-bold">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Autem inventore sed assumenda facere!
        </h1>
        <p class="text-sm font-semibold">Yunus Afghoni, <span class="italic">12 Juni 2023</span></p>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Ea dolores necessitatibus sunt hic nobis sed, nisi cum,
            magni accusamus et rem aspernatur totam assumenda
            tenetur veniam autem enim recusandae aperiam soluta a,
            porro veritatis! Itaque laborum illo vero porro nostrum
            maxime omnis rem non quos fugiat, molestiae, placeat
            praesentium quo mollitia?.
        </p>
        <div>
            <a href="#" class="w-auto text-orange-500 hover:text-orange-600">
                Show more
            </a>
        </div>
    </div>
    <div class="w-1/5">
        <img src="/image_hero_1.png" alt="" srcset="">
    </div>
</div>