---
import Layout from "./Layout.astro";
import Icon from "astro-icon";
---

<Layout title="Loqomind Technology">
	<div class="container w-3/5">
        <!-- Hero Image -->
		<img src="/image_hero_1.png" class="w-1/2 mb-6" />
        <!-- title -->
        <h1 class="text-2xl font-bold">
            The Powerful Web Framework, AstroJS: Generate Sites with Content from Everywhere!
        </h1>
        <!-- Content -->
        <slot />

        <!-- Share -->

        <!-- Another Blogs -->
	</div>
</Layout>
